body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 auto 4em auto;
    tab-size: 2;
    -webkit-text-size-adjust: none;
  }

.column {
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    font-size: 46px;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0.1em 0;
} 

h2 {
    margin-top: 2em;
}
  
h1, h2 {
    text-rendering: optimizeLegibility;
}

.shaft {
    stroke-width: 2px;
}

svg {
    border: 1px solid black;
}
